<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    {% stylesheet app %}
    <script type="text/javascript">{% asset vendor/modernizr %}</script>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">My Blog</a>
        </div>
      </div>
    </div>

    <div id="content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% javascript app %}
  </body>
</html>
