<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    {% stylesheet app %}
    <script type="text/javascript">{% asset vendor/modernizr %}</script>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">My Blog</a>

          <form id="js-tag-search" class="form-search navbar-form pull-right">
            <input type="text" class="input-medium search-query" placeholder="Type tags to search"/>
          </form>
        </div>
      </div>
    </div>

    <div id="content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% javascript app %}
  </body>
</html>
